<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MotoGP News
      </h1>
      <a class="button is-info is-inverted" href="./scrape">Scrape the latest articles!</a>
    </div>
  </div>
</section>

{{#each dbArticles}}

<div class="card">
  <div class="card-content">
    <p class="title">
      {{this.title}}
    </p>
    <p class="subtitle">
      {{this.summary}}
    </p>
  </div>
  <footer class="card-footer has-background-light">
    <p class="card-footer-item">
      <span>
        Read this article on <a href="{{this.link}}" target="_blank">GP One</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Leave / Read <a class="modal-opener" data-id="{{this._id}}">Comments</a>
      </span>
    </p>
  </footer>
</div>

{{/each}}


<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <input class="input" id="user-name" type="text" placeholder="Your name"><br><br>
        <textarea class="textarea" id="user-comment" placeholder="Your comment"></textarea>
        <p id="confirmation-message"></p><br>
        <a class="button is-info submit-comment">Submit</a></p><br><br><br>
        <p class="subtitle">Comments:</p>
        <div id="existing-comments"></div>
    </section>
  </div>
</div>

<script type="text/javascript" src="./assets/app.js"></script>